@model VmEvaluation
@using System.Linq
@inject IUnitOfWork unitOfWork
@{
    var ModelCaptions = await unitOfWork.ModelCaptions.GetAllAsync();
    var index = 1;
    var ListImg = ModelCaptions.GroupBy(s => s.Image_Id).Select(s => new { Id = s.First().Image_Id, Name = $"{ index++}" }).ToList();
    var SimilarCaptions = await unitOfWork.SimilarCaptions.FindAllAsync(s => s.Image_Id == Model.Image_Id);
    index = 1;
}
<form asp-action="Index" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>Choose an image (1-100):</label>
        <select asp-for="Image_Id" class="select2 form-control w-100" required asp-items='new SelectList(ListImg,"Id","Name",@ViewBag.Image_Id)' onchange="selected_image()">
            <option value=""> Choose an image</option>
        </select>
        <span asp-validation-for="Image_Id" class="text-danger"></span>
    </div>
    <div id="accordion">
        <div class="card ">
            <div class="card-header text-center">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                        Evaluation based on the diversity metric
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 30%">The selected image</th>
                                <th style="width: 47%">The generated captions by modules and ground truth caption</th>
                                <th style="width: 23%">Human evaluation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="6" style="vertical-align: middle"><img src="/images/@(Model.Image_Id).jpg" class="text-center product-image selected_image " alt="Image"></td>
                                <td>1. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==1)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_1" value="1">
                                                <label class="form-check-label">matched</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_1" value="3">
                                                <label class="form-check-label">similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_1" value="5">
                                                <label class="form-check-label">unsimilar</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_1" value="2">
                                                <label class="form-check-label">very similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_1" value="4">
                                                <label class="form-check-label">little similar</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==2)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_2" value="1">
                                                <label class="form-check-label">matched</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_2" value="3">
                                                <label class="form-check-label">similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_2" value="5">
                                                <label class="form-check-label">unsimilar</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_2" value="2">
                                                <label class="form-check-label">very similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_2" value="4">
                                                <label class="form-check-label">little similar</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==3)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_3" value="1">
                                                <label class="form-check-label">matched</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_3" value="3">
                                                <label class="form-check-label">similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_3" value="5">
                                                <label class="form-check-label">unsimilar</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_3" value="2">
                                                <label class="form-check-label">very similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_3" value="4">
                                                <label class="form-check-label">little similar</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==4)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_4" value="1">
                                                <label class="form-check-label">matched</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_4" value="3">
                                                <label class="form-check-label">similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_4" value="5">
                                                <label class="form-check-label">unsimilar</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_4" value="2">
                                                <label class="form-check-label">very similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_4" value="4">
                                                <label class="form-check-label">little similar</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==5)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_5" value="1">
                                                <label class="form-check-label">matched</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_5" value="3">
                                                <label class="form-check-label">similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_5" value="5">
                                                <label class="form-check-label">unsimilar</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_5" value="2">
                                                <label class="form-check-label">very similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_5" value="4">
                                                <label class="form-check-label">little similar</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>6. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==6)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_6" value="1">
                                                <label class="form-check-label">matched</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_6" value="3">
                                                <label class="form-check-label">similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_6" value="5">
                                                <label class="form-check-label">unsimilar</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_6" value="2">
                                                <label class="form-check-label">very similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio1_6" value="4">
                                                <label class="form-check-label">little similar</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    For each generated caption of the modules (1-6), please compare it with its corresponding generated captions of other images below which are randomly chosen from the testing part of MSCOCO dataset, and select the proper assessment on the human evaluation column above.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="accordioncaptions">
                        <div class="card ">
                            <div class="card-header text-center">
                                <h4 class="card-title w-100">
                                    <a class="d-block w-100" data-toggle="collapse" href="#collapseM1" aria-expanded="false">
                                        1
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseM1" class="collapse" data-parent="#accordioncaptions" style="">
                                <div class="card-body">
                                    <ul>
                                        @foreach (var item in ModelCaptions.Where(s => s.Image_Id != Model.Image_Id && s.Model_Id == 1).ToList())
                                        {
                                            <li>@item.Caption</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card ">
                            <div class="card-header text-center">
                                <h4 class="card-title w-100">
                                    <a class="d-block w-100" data-toggle="collapse" href="#collapseM2" aria-expanded="false">
                                        2
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseM2" class="collapse" data-parent="#accordioncaptions" style="">
                                <div class="card-body">
                                    <ul>
                                        @foreach (var item in ModelCaptions.Where(s => s.Image_Id != Model.Image_Id && s.Model_Id == 2).ToList())
                                        {
                                            <li>@item.Caption</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card ">
                            <div class="card-header text-center">
                                <h4 class="card-title w-100">
                                    <a class="d-block w-100" data-toggle="collapse" href="#collapseM3" aria-expanded="false">
                                        3
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseM3" class="collapse" data-parent="#accordioncaptions" style="">
                                <div class="card-body">
                                    <ul>
                                        @foreach (var item in ModelCaptions.Where(s => s.Image_Id != Model.Image_Id && s.Model_Id == 3).ToList())
                                        {
                                            <li>@item.Caption</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card ">
                            <div class="card-header text-center">
                                <h4 class="card-title w-100">
                                    <a class="d-block w-100" data-toggle="collapse" href="#collapseM4" aria-expanded="false">
                                        4
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseM4" class="collapse" data-parent="#accordioncaptions" style="">
                                <div class="card-body">
                                    <ul>
                                        @foreach (var item in ModelCaptions.Where(s => s.Image_Id != Model.Image_Id && s.Model_Id == 4).ToList())
                                        {
                                            <li>@item.Caption</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card ">
                            <div class="card-header text-center">
                                <h4 class="card-title w-100">
                                    <a class="d-block w-100" data-toggle="collapse" href="#collapseM5" aria-expanded="false">
                                        5
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseM5" class="collapse" data-parent="#accordioncaptions" style="">
                                <div class="card-body">
                                    <ul>
                                        @foreach (var item in ModelCaptions.Where(s => s.Image_Id != Model.Image_Id && s.Model_Id == 5).ToList())
                                        {
                                            <li>@item.Caption</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card ">
                            <div class="card-header text-center">
                                <h4 class="card-title w-100">
                                    <a class="d-block w-100" data-toggle="collapse" href="#collapseM6" aria-expanded="false">
                                        6
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseM6" class="collapse" data-parent="#accordioncaptions" style="">
                                <div class="card-body">
                                    <ul>
                                        @foreach (var item in ModelCaptions.Where(s => s.Image_Id != Model.Image_Id && s.Model_Id == 6).ToList())
                                        {
                                            <li>@item.Caption</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header text-center">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseTwo" aria-expanded="true">
                        Evaluation based on the novelty metric
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="collapse show" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 30%">The selected image</th>
                                <th style="width: 47%">The generated captions by modules and ground truth caption</th>
                                <th style="width: 23%">Human evaluation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="6" style="vertical-align: middle"><img src="/images/@(Model.Image_Id).jpg" class="text-center product-image selected_image " alt="Image"></td>
                                <td>1. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==1)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_1" value="1">
                                                <label class="form-check-label">matched</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_1" value="3">
                                                <label class="form-check-label">similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_1" value="5">
                                                <label class="form-check-label">unsimilar</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_1" value="2">
                                                <label class="form-check-label">very similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_1" value="4">
                                                <label class="form-check-label">little similar</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==2)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_2" value="1">
                                                <label class="form-check-label">matched</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_2" value="3">
                                                <label class="form-check-label">similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_2" value="5">
                                                <label class="form-check-label">unsimilar</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_2" value="2">
                                                <label class="form-check-label">very similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_2" value="4">
                                                <label class="form-check-label">little similar</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==3)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_3" value="1">
                                                <label class="form-check-label">matched</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_3" value="3">
                                                <label class="form-check-label">similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_3" value="5">
                                                <label class="form-check-label">unsimilar</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_3" value="2">
                                                <label class="form-check-label">very similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_3" value="4">
                                                <label class="form-check-label">little similar</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==4)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_4" value="1">
                                                <label class="form-check-label">matched</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_4" value="3">
                                                <label class="form-check-label">similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_4" value="5">
                                                <label class="form-check-label">unsimilar</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_4" value="2">
                                                <label class="form-check-label">very similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_4" value="4">
                                                <label class="form-check-label">little similar</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==5)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_5" value="1">
                                                <label class="form-check-label">matched</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_5" value="3">
                                                <label class="form-check-label">similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_5" value="5">
                                                <label class="form-check-label">unsimilar</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_5" value="2">
                                                <label class="form-check-label">very similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_5" value="4">
                                                <label class="form-check-label">little similar</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>6. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==6)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_6" value="1">
                                                <label class="form-check-label">matched</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_6" value="3">
                                                <label class="form-check-label">similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_6" value="5">
                                                <label class="form-check-label">unsimilar</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_6" value="2">
                                                <label class="form-check-label">very similar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio2_6" value="4">
                                                <label class="form-check-label">little similar</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    For each generated caption of the modules (1-6), please compare it with its corresponding given captions of other images below  which are chosen from its Top-10 similar images in the training part of MSCOCO dataset, and select the proper assessment on the human evaluation column.
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div id="accordionsimilarcaptions">
                        <div class="card ">
                            <div class="card-header text-center">
                                <h4 class="card-title w-100">
                                    <a class="d-block w-100" data-toggle="collapse" href="#collapsesimilar" aria-expanded="false">
                                        Captions of similar images
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsesimilar" class="collapse" data-parent="#accordionsimilarcaptions" style="">
                                <div class="card-body">
                                    <ul>
                                        @foreach (var item in SimilarCaptions)
                                        {
                                            <li>@item.Caption</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header text-center">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseThree" aria-expanded="true">
                        Evaluate the Informativeness
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td colspan="3">
                                    Please evaluate whether the captions generated from the modules are appropriate and natural to their corresponding image.
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 30%">The selected image</th>
                                <th style="width: 50%">The generated captions by modules and ground truth caption</th>
                                <th style="width: 20%">Human evaluation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="6" style="vertical-align: middle"><img src="/images/@(Model.Image_Id).jpg" class="text-center product-image selected_image " alt="Image"></td>
                                <td>1. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==1)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_1" value="1">
                                                <label class="form-check-label">bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_1" value="3">
                                                <label class="form-check-label">not bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_1" value="5">
                                                <label class="form-check-label">good</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_1" value="2">
                                                <label class="form-check-label">poor</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_1" value="4">
                                                <label class="form-check-label">satisfactory</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==2)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_2" value="1">
                                                <label class="form-check-label">bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_2" value="3">
                                                <label class="form-check-label">not bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_2" value="5">
                                                <label class="form-check-label">good</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_2" value="2">
                                                <label class="form-check-label">poor</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_2" value="4">
                                                <label class="form-check-label">satisfactory</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==3)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_3" value="1">
                                                <label class="form-check-label">bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_3" value="3">
                                                <label class="form-check-label">not bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_3" value="5">
                                                <label class="form-check-label">good</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_3" value="2">
                                                <label class="form-check-label">poor</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_3" value="4">
                                                <label class="form-check-label">satisfactory</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==4)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_4" value="1">
                                                <label class="form-check-label">bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_4" value="3">
                                                <label class="form-check-label">not bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_4" value="5">
                                                <label class="form-check-label">good</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_4" value="2">
                                                <label class="form-check-label">poor</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_4" value="4">
                                                <label class="form-check-label">satisfactory</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==5)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_5" value="1">
                                                <label class="form-check-label">bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_5" value="3">
                                                <label class="form-check-label">not bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_5" value="5">
                                                <label class="form-check-label">good</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_5" value="2">
                                                <label class="form-check-label">poor</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_5" value="4">
                                                <label class="form-check-label">satisfactory</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>6. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==6)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_6" value="1">
                                                <label class="form-check-label">bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_6" value="3">
                                                <label class="form-check-label">not bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_6" value="5">
                                                <label class="form-check-label">good</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_6" value="2">
                                                <label class="form-check-label">poor</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio3_6" value="4">
                                                <label class="form-check-label">satisfactory</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header text-center">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapse4" aria-expanded="true">
                        Evaluate The Fluency
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="collapse show " data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>

                            <tr>
                                <td colspan="3">
                                    Please evaluate whether the captions generated from the modules are fluent with the grammatical rules.
                            </tr>
                            <tr>
                                <th style="width: 30%">The selected image</th>
                                <th style="width: 50%">The generated captions by modules and ground truth caption</th>
                                <th style="width: 20%">Human evaluation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="6" style="vertical-align: middle"><img src="/images/@(Model.Image_Id).jpg" class="text-center product-image selected_image " alt="Image"></td>
                                <td>1. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==1)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_1" value="1">
                                                <label class="form-check-label">bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_1" value="3">
                                                <label class="form-check-label">not bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_1" value="5">
                                                <label class="form-check-label">good</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_1" value="2">
                                                <label class="form-check-label">poor</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_1" value="4">
                                                <label class="form-check-label">satisfactory</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==2)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_2" value="1">
                                                <label class="form-check-label">bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_2" value="3">
                                                <label class="form-check-label">not bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_2" value="5">
                                                <label class="form-check-label">good</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_2" value="2">
                                                <label class="form-check-label">poor</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_2" value="4">
                                                <label class="form-check-label">satisfactory</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==3)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_3" value="1">
                                                <label class="form-check-label">bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_3" value="3">
                                                <label class="form-check-label">not bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_3" value="5">
                                                <label class="form-check-label">good</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_3" value="2">
                                                <label class="form-check-label">poor</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_3" value="4">
                                                <label class="form-check-label">satisfactory</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==4)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_4" value="1">
                                                <label class="form-check-label">bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_4" value="3">
                                                <label class="form-check-label">not bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_4" value="5">
                                                <label class="form-check-label">good</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_4" value="2">
                                                <label class="form-check-label">poor</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_4" value="4">
                                                <label class="form-check-label">satisfactory</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==5)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_5" value="1">
                                                <label class="form-check-label">bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_5" value="3">
                                                <label class="form-check-label">not bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_5" value="5">
                                                <label class="form-check-label">good</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_5" value="2">
                                                <label class="form-check-label">poor</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_5" value="4">
                                                <label class="form-check-label">satisfactory</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>6. @ModelCaptions.FirstOrDefault(s=>s.Image_Id==Model.Image_Id&&s.Model_Id==6)?.Caption</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_6" value="1">
                                                <label class="form-check-label">bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_6" value="3">
                                                <label class="form-check-label">not bad</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_6" value="5">
                                                <label class="form-check-label">good</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_6" value="2">
                                                <label class="form-check-label">poor</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" required type="radio" asp-for="radio4_6" value="4">
                                                <label class="form-check-label">satisfactory</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group text-center ">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
</form>


@section Scripts {
<script>
    function selected_image(){
        let Image_Id= $('#Image_Id').val();
        location.href=`/Home/Index?Image_Id=${Image_Id}`
        //$('.selected_image').attr('src',`/images/${Image_Id}.jpg`);
    }
</script>
}