@model IEnumerable<AH_Project.Models.Entities.Evaluation>
@{
}
<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.ModelCaption.Image_Id)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.ModelCaption.Model_Id)
            </th>         
            <th>
                @Html.DisplayNameFor(model => model.ModelCaption.Caption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diversity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Novality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Informativeness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fluency)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelCaption.Image_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelCaption.Model_Id)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.ModelCaption.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diversity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Novality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Informativeness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fluency)
            </td>
        </tr>
}
    </tbody>
</table>
